.App {
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 1%;
  padding-bottom: 1%;
  height: 100%;
  background-color: #2E0854;
}

.Posting {
  background-color: white;
  padding: 1%;

}

.logoutButton {
  float: right;
  border-radius: 28px;
  padding: 15px 32px;
  background-color: #2E0854;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  transition-duration: 0.4s;
  outline: 0;  
}

.tokenEmail {
  float: left;
  padding-left: 20px;
}

.logoutButton:hover {
  background-color: #9B30FF;
}

.mainTitle {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
