.commentsSection {
  /* position: relative; */

  margin: 2%;
  border: solid;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 6%;
}

.editAndDeleteComments {
  /* padding-top: 1%; */
  padding-top: 4px;

}

.deleteComment {
  position: relative;
  left: 20px;
  border-radius: 28px;
  padding: 4px 10px;
  background-color: darkred;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  transition-duration: 0.4s;
  outline: 0;
}

.deleteComment:hover {
  background-color: white;
  border-color: darkred;
  color: black;
}

.editComment {
  position: relative;
  left: 0px;
  border-radius: 28px;
  padding: 4px 10px;
  background-color: darkblue;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  transition-duration: 0.4s;
  outline: 0;
}

.editComment:hover {
  background-color: white;
  border-color: darkblue;
  color: black;
}

.commentFeatures {
  position: relative;
  float: left;
  /* padding: 5px; */
  padding-top: 10px;
  padding-right: 25px;
}

.likeCommentCounter {
  position: relative;
  bottom: 13px;
}

.dislikeCommentCounter {
  position: relative;
  bottom: 13px;
}