.newPost {
  word-wrap: break-word;
  background-color: white;
}

.mainTitle {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.createPost {
  border-radius: 28px;
  padding: 8px 20px;
  background-color: #2E0854;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  transition-duration: 0.4s;
  outline: 0;
}


.createPost:hover {
  background-color: white;
  border-color: #2E0854;
  color: black;
}

.titleBox {
  /* border-radius: 28px;
  padding: 6px 5px; */

  width: 50%;
  border-color: #9B30FF;
}

.contentBox {
  /* resize: vertical; */
  width: 50%;
  max-width:50%;
  min-width:30%;
  height: 80px;
  min-height:50px;
  max-height:200px;
  border-color: #9B30FF;
}
