.post {
  /* display: flex; */
  border-style: solid;
  border-color: grey;
  background-color: white;
  /* position: relative; */
  margin-bottom: 3%;
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 3%;
}

/* Created By, Title and Content parts */

.postTitle {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.createdByAndAt {
  width: 100%;
}

.postContent {
  font-family: Arial, Helvetica, sans-serif;
}

.editAndDeleteButtons {
  padding: 1%;
}

.deleteButton {
  position: relative;
  left: 20px;
  border-radius: 28px;
  padding: 8px 20px;
  background-color: darkred;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  transition-duration: 0.4s;
  outline: 0;
}

.deleteButton:hover {
  background-color: white;
  border-color: darkred;
  color: black;
}

.editButton {
  position: relative;
  left: -20px;
  border-radius: 28px;
  padding: 8px 20px;
  background-color: darkblue;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  transition-duration: 0.4s;
  outline: 0;
}

.editButton:hover {
  background-color: white;
  border-color: darkblue;
  color: black;
}

/* Post features parts */

.postFeatures {
  float: left;
  /* width: 20%; */
  padding: 5px;
}

.likeButton {
  border-radius: 28px;
  padding: 4px 10px;
  background-color: #2E0854;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  transition-duration: 0.4s;
  outline: 0;
}

.likeButton:hover {
  background-color: white;
  border-color: #2E0854;
  color: black;
}

.likeCounter {
  /* float: left; */
}

.dislikeButton {
  border-radius: 28px;
  padding: 4px 10px;
  background-color: #2E0854;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  transition-duration: 0.4s;
  outline: 0;
}

.dislikeButton:hover {
  background-color: white;
  border-color: #2E0854;
  color: black;
}

/* Comments part */