.post {
  border-style: solid;
  border-color: grey;
  background-color: white;
  position: relative;
  margin-bottom: 3%;
  padding-top: 15%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 25%;
}

.postTitle {
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: absolute;
  top: 11%;
  /* bottom: 65%; */
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.createdByAndAt {
  position: absolute;
  top: 5px;
  width: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.postContent {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.deleteButton {
  border-radius: 28px;
  padding: 8px 20px;
  background-color: darkred;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  transition-duration: 0.4s;
  position: absolute;
  bottom: 150px;
  right: 320px;
  outline: 0;
}

.deleteButton:hover {
  background-color: white;
  border-color: darkred;
  color: black;
}

.editButton {
  border-radius: 28px;
  padding: 8px 20px;
  background-color: darkblue;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  transition-duration: 0.4s;
  position: absolute;
  bottom: 150px;
  left: 340px;
  outline: 0;
}

.editButton:hover {
  background-color: white;
  border-color: darkblue;
  color: black;
}

.likeButton {
  border-radius: 28px;
  padding: 4px 10px;
  background-color: #2E0854;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  transition-duration: 0.4s;
  position: absolute;
  /* bottom: 4px; */
  bottom: 100px;
  left: 128px;
  outline: 0;
}

.likeButton:hover {
  background-color: white;
  border-color: #2E0854;
  color: black;
}

.likeCounter {
  position: absolute;
  bottom: 88px;
  left: 192px;
}

.dislikeButton {
  border-radius: 28px;
  padding: 4px 10px;
  background-color: #2E0854;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  transition-duration: 0.4s;
  position: absolute;
  bottom: 100px;
  left: 320px;
  outline: 0;
}

.dislikeButton:hover {
  background-color: white;
  border-color: #2E0854;
  color: black;
}

.dislikeCounter {
  position: absolute;
  bottom: 88px;
  /* bottom: -8px; */
  left: 400px;
}

.commentsCounter {
  position: absolute;
  bottom: 88px;
  /* bottom: -8px; */
  left: 528px;
}

.commentsTitle {
  position: absolute;
  bottom: 8%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.commentsArea {
  position: absolute;

  bottom: 10px;

  /* border: solid; */

  /* left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; */

  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
}
