.button {
  /* border: none; */
  border-radius: 28px;
  padding: 15px 32px;
  background-color: #2E0854;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.button:hover {
  background-color: #9B30FF;
}

.mainTitle {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.minorTitle {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.details {
  border-radius: 28px;
  width: 30%;
  padding: 6px 5px;
}

.form {
  padding: 16px;
}

.info {
  padding: 8px;
  left: 33%;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
}

.login {
  padding-top: 3%;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 5%;
}